.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("banner-computer.avif");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 515px;
  margin-bottom: 40px;
}

.banner .container {
  width: 1020px;
  margin: 0 auto;
}

.banner h1 {
  color: $anti-flash-white;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  margin-bottom: 26px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn-purple {
  border-radius: 4px;
  display: inline-block;
  font-size: 20px;
  padding: 12px 28px;
}

.btn-purple {
  color: white;
  padding: 8px 32px;
  border: none !important;
  border-radius: 4px;
  background-color: $purple;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-purple:hover {
  color: white;
  background-color: $hover-purple;
}

.index-container {
  margin: 0 auto;
  width: 1020px;
}

.steps-centered {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.steps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}

.steps {
  width: 20em;
}

// .steps:hover {
//   transform: scale(1.05);
//   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
// }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #141414;
  border-radius: 8px;
  color: $anti-flash-white;
  padding: 15px;
}

.card img {
  border-radius: 5px;
  margin: -10px 4px 8px 4px;
  width: 95%;
}

.card h3 {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.card p {
  font-weight: normal;
}

.card li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.price {
  display: block;
  text-align: right;
  margin: 14px 15px 0 0;
}

.btn-see-more {
  margin-top: 10px;
  width: 100%;
}

.laptop-image {
  height: 220px;
  width: 100%;
  padding-bottom: 30px;
}

.btn-card {
  display: flex;
  justify-content: center;
}

@media (max-width: 1064px) {
  .banner .container, .index-container {
    width: 100%;
  }
  .steps {
    width: 30vw;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 685px) {
  .banner .container {
    margin-top: -35px;
  }
  .steps-centered {
    margin-top: -115px;
  }
  .steps-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .steps {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    width: 25vw;
  }
  .index-container h1 {
    font-size: 36px;
  }
  .index-container .search-form {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards .card {
    margin: 0 auto;
    width: 80vw;
  }
}

@media (max-width: 575px) {
  .banner .container {
    width: 470px;
  }
  .banner p {
    font-size: 18px;
  }
  // .steps-centered {
  //   margin-top: -155px;
  // }
  .steps-grid {
    grid-template-columns: 1fr;
  }
  .steps {
    font-size: 16px;
    width: 80vw;
  }
}

@media (max-width: 510px) {
  .banner .container {
    width: 350px;
  }
  .banner h1 {
    font-size: 38px;
    margin-top: -34px;
  }
  .banner p {
    font-size: 16px;
  }
  .a-computer {
    display: none;
  }
  .steps {
    font-size: 19px;
  }
}

// @media(min-width: 200px) {
//   // .banner .container {
//   //   width: 80vw;
//   // }
//   .cards {
//     display: grid;
//     margin: 10px auto;
//     grid-template-columns: 1fr;
//   }
//   .steps {
//     margin: 10px auto;
//   }
// }

// @media(max-width: 1200px) {
//   .steps {
//     width: 18em;
//     margin: 10px auto;
//   }
// }

// @media(min-width: 992px) {
//   .steps-grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: 20px;
//   }
//   .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr
//   }
// }

// @media(min-width: 600px) {
//   .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
//   .steps-grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 20px;
//   }
// }

// @media(max-width: 599px) {
//   .cards {
//     display: grid;
//     margin: 10px auto;
//     grid-template-columns: 1fr;
//   }
//   .steps-grid {
//     display: grid;
//     grid-template-columns: 1fr;
//   }
//   .steps {
//     width: 100%;
//     margin: 10px auto;
//   }
//   .banner {
//     margin-top: -50px;
//     margin-bottom: -20px;
//   }
//   .banner h1 {
//     font-size: 42px;
//   }
//   .banner p {
//     font-size: 13px;
//     white-space: nowrap;
//   }
// }
