.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("banner-computer.avif");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 515px;
  margin-bottom: 40px;
}

.banner .container {
  width: 80vw;
  margin: 0 auto;
}

.banner h1 {
  color: $anti-flash-white;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  margin-bottom: 26px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn-purple {
  border-radius: 4px;
  display: inline-block;
  font-size: 20px;
  padding: 12px 28px;
}

.btn-purple {
  color: white;
  padding: 8px 32px;
  border: none !important;
  border-radius: 4px;
  background-color: $purple;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-purple:hover {
  color: white;
  background-color: $hover-purple;
}

.steps-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.steps {
  width: 20em;
}

.card {
  background-color: #141414;
  border-radius: 8px;
  color: $anti-flash-white;
  padding: 15px;
  margin: 10px 10px;
}

.card img {
  border-radius: 5px;
  margin: -10px 4px 8px 4px;
  width: 95%;
}

.card h3 {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.card p {
  font-weight: bold;
}

.card li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.price {
  display: block;
  text-align: right;
  margin: 14px 15px 0 0;
}

// .card:hover {
//   transform: scale(1.05);
//   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
// }

.btn-see-more {
  margin-top: 10px;
  width: 100%;
}

.index-container {
  margin-top: 70px;
}


.laptop-image {
  height: 220px;
  width: 100%;
  padding-bottom: 30px;
}

.btn-card {
  display: flex;
  justify-content: center;
}

// @media(min-width: 200px) {
//   // .banner .container {
//   //   width: 80vw;
//   // }
//   .cards {
//     display: grid;
//     margin: 10px auto;
//     grid-template-columns: 1fr;
//   }
//   .steps {
//     margin: 10px auto;
//   }
// }

@media(max-width: 599px) {
  .cards {
    display: grid;
    margin: 10px auto;
    grid-template-columns: 1fr;
  }
  .steps-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .steps {
    width: 100%;
    margin: 10px auto;
  }
  .banner {
    margin-top: -50px;
    margin-bottom: -20px;
  }
  .banner h1 {
    font-size: 42px;
  }
  .banner p {
    font-size: 13px;
    white-space: nowrap;
  }
}

@media(min-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .steps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media(min-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .steps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media(max-width: 1200px) {
  .steps {
    width: 18em;
    margin: 10px auto;
  }
}
