<div class="search-form">
  <%= form_with url: root_path(anchor: "laptops"), method: :get, class: "d-flex", data: {turbo: false}  do |form| %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= form.button type: "submit", class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>
