.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  height: 100px;
  margin: 0 auto;
  width: 1020px;
}

.footer-links a {
  color: $electric-blue;
  font-size: 30px;
  padding: 0px 12px;
  text-decoration: none;
}

.footer-links a:hover {
  transition: color 0.3s ease;
  color: $electric-blue-hover;
}

@media(max-width: 1020px) {
  .footer {
    width: 100vw;
  }
}
