// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/show";
@import "pages/booking";
@import "pages/home";
@import "pages/dashboard";

body {
  font-family: 'Roboto', sans-serif;
  // background-color: #eef0f2;
  // background-color: #050405;
  background-color: #020102;
  color: $anti-flash-white;
}

h1 {
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 12px;
}

.form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-control {
  background-color: white;
}

.form-select {
  background-color: white;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 6px;
  color: $anti-flash-white;
  margin-top: 50px;
  margin-bottom: 16px;
  padding: 20px;
  padding-bottom: 36px;
  width: 50vw;
}

.form-inputs h2 {
  margin-bottom: 0;
}

.form-inputs a {
  color: $electric-blue;
  text-decoration: none;
}

.form-inputs a:hover {
  color: $electric-blue-hover;
  transition: color 0.3s ease;
}

.form-inputs .btn-purple {
  width: 100%;
}

.form-text {
  color: $electric-blue;
}

.form-inputs .btn-outline-danger {
  color: rgb(251, 55, 55);
  margin-left: 50px;
}

.form-inputs .btn-outline-danger:hover {
  color: rgb(255, 90, 90);
  transition: color 0.3s ease;
}
